/ProjectLOOP/build/
/ProjectLOOP_Admin/nbproject/private/
/ProjectLOOP_Admin/build/
/ProjectLOOP_2/nbproject/private/
/ProjectLOOP_2/build/
/SGR/nbproject/private/
/SGR_ADMIN/nbproject/private/
/SGR/build/
/SGR/dist/
/SGR_ADMIN/build/